<% form_remote_for :note, @note, :update => "note_#{@note.id}", :url => {:action => 'update_note' } do |f| %>
<%= f.hidden_field :id %>
<%= f.text_area :note, :size => getNoteEditHeight(@note) %>
<br/>
Tags: 
<%= text_field_tag :tags_string, tag_string, { :size => 46, :class => 'text' } %>
<br/>
<%= submit_tag "Update" %>
-
<%= link_to_remote "cancel", :update => "note_#{@note.id}", :url => {:action => 'cancel_edit_note', :id => @note} %>
<br />
<% end %>
