<div class="note_wrapper">
  <div class="note" id="note_<%=h note.id %>">
<% form_for :note, :update => 'add_note', :url => {:action => 'add_note' } do |f| %>
<%= f.hidden_field :id %>
<%= f.text_area :note, :size => '49x3' %>
<br/>
Tags: 
<%= text_field_tag :tags_string, '', { :size => 46, :class => 'text' } %>
<br/>
<%= submit_tag "Add Note" %>
-
<%= link_to_remote "cancel", :update => "add_note", :url => {:action => 'cancel_note' } %>
<% end %>
  </div>
</div>
