<div id="main_container">
	<% if @user != nil and @user.id %>
	<h2>Welcome back <%=h @user.name %>!</h2>
	<% end %>

	<div id="add_note">
	<%= render :partial => "new_note" %>
	</div>
	<h3>Recent notes in all notebooks</h3>
	<div id="notes_container">
	<% for note in @notes %>
		<div class="note_wrapper">
			<div class="note" id="note_<%=h note.id %>">
			<%= render :partial => 'note', :object => note %>
			</div>
		</div>
	<% end %>
	</div>
</div>

<div id="right_container">
	<div id="notebooks_container">
		<h2>Notebooks</h2>
		<%= link_to "Manage notebooks", {:controller => 'manage_notebooks', :action => 'index'},
			{:class => "action"} %>
		<ul>
			<% for notebook in @user.notebooks %>
			<li><span class="list_bullet">&#187;</span> <a href="/first_test/notebook/<%=h CGI.escape(notebook.name) %>"><%=h notebook.name %></a></span></li>
			<% end %>
		</ul>
		<br/>
	</div>
</div>
