<div id="main_container">
	<% if @notebook != nil %>
	<h2><%=h @notebook.name %><%=h ": " + @tag_text if @tag_text %></h2>
	<% elsif @notebook_name = 'unfiled' %>
	<h2>Unfiled Notes</h2>
	<% end %>

	<div id="add_note">
	<%= render :partial => "new_note", :object => nil %>
	</div>

	<div id="notes_container">
	<% if @notes != nil and @notes.length > 0 %>
		<% for note in @notes %>
                  <%= render :partial => 'note_wrapper', :locals => { :note => note } %>
		<% end %>
	<% else %>
		<% if @notebook.notes.count <= 0 %>
		This notebook is empty. Why don't you add a note to it?
		<% elsif @tag_text == 'unfiled' %>
		No untagged notes were found, you're very organized!
		<% else %>
		No notes were found for tag <%=h @tag_text %>, try another.
		<% end %>
	<% end %>
	</div>
</div>
