<div id="main_container">
	<% if @user != nil and @user.id %>
	<h2>Welcome back <%=h @user.name %>!</h2>
	<% end %>

	<div id="add_note">
	<%= render :partial => "new_note", :object => nil %>
	</div>

	<div id="notes_container">
	<% for note in @notes %>
		<div class="note_wrapper">
			<div class="note" id="note_<%=h note.id %>">
			<%= render :partial => 'note', :object => note %>
			</div>
		</div>
	<% end %>
	</div>
</div>

<div id="right_container">
        <div id="notebooks_container">
                <h2>Notebooks</h2>
                <ul>
                        <li><span class="list_bullet_important">&#187;</span> <a href="/first_test/notebook/unfiled">Unfiled</a></span></li>
                        <% for notebook in @user.notebooks %>
                        <li><span class="list_bullet">&#187;</span> <a href="/first_test/notebook/<%=h CGI.escape(notebook.name) %>"><%=h notebook.name %></a></span></li>
                        <% end %>
                </ul>
                <br/>
        </div>
	<div id="tags_container">
	<h2>Tags</h2>
	<ul>
		<li><span class="list_bullet_important">&#187;</span> <a href="/">all</a></li>
		<li><span class="list_bullet_important">&#187;</span> <a href="/first_test/unfiled">unfiled</a></li>
	<% for tag in @tags %>
		<% if tag.text == @filter_tag.text %>
		<% @tag_class = 'selected' %>
		<% else %>
		<% @tag_class = '' %>
		<% end %>
		<li><span class="list_bullet">&#187;</span> <a class = "<%=h @tag_class %>" href="/first_test/tags/<%=h tag.text %>"><%=h tag.text %></a></li>
	<% end %>
	</ul>
	</div>
</div>
