body
{
	margin: 0;
	padding: 0;
	background-color: #e6ffa2;
	background-image: url('../images/bg_gradient.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
	font-family: arial, helvetica;
}

img
{
	border: 0;
}

#header
{
	height: 60px;
	color: #fff;
	background-color: #2E2E2E;
	border-bottom: solid 4px #2b2b2b;

	padding-top: 4px;
	padding-left: 30px;
	padding-right: 40px;

	width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

#header img.header
{
	padding-bottom: 12px;
}

#header img.logo
{
	padding-left: 6px;
	padding-top: 6px;
}

#header div.left
{
	float: left;
}

#header div.right
{
	padding-top: 30px;
	float: right;
}

#main
{
	clear: both;
	color: #fff;
	background-color: #383838;
	padding-left: 30px;
	padding-top: 16px;
	padding-bottom: 20px;

	width: 660px;
	margin-left: auto;
	margin-right: auto;
}

#footer
{
	background-color: #2E2E2E;
        padding-left: 30px;
        padding-top: 4px;
        padding-bottom: 6px;
	color: #666;
        width: 660px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
}

div.note_wrapper
{
	background-image: url("../images/note_arrow.png");
	background-repeat: no-repeat;
	background-position: 0% 30%;
	padding-left: 12px;
}

div.note
{
	margin-bottom: 16px;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	
	background-color: #f5f2a8;
	color: #000;
	width: 440px;
  
	border-bottom: solid 1px #2E2E2E;
	border-right: solid 1px #2E2E2E;
}

div.note a
{
	font-size: 0.9em;
	color: #9E9C6C;
}

div.note a.note_link
{
	font-size: 1.0em;
	color: #000;
}

div.note a.tag
{
        color: #78bdb5;
}

div.note a:hover
{
	color: #59A4ED;

}

div.note textarea
{
	width: 435px;
	margin-top: 4px;
	margin-bottom: 6px;
}

div.note input.text
{
	width: 370px;
	margin-bottom: 6px;
}

#login
{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  width: 354px;
  border: solid 8px #444;
  background-color: #555;
  font-size: 1.05em;
}

#login input.text
{
	width: 240px;
	height: 20px;
	font-size: 1.05em;
}

#login input.password
{
	width: 240px;
	height: 20px;
}

#login input.button
{
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
	border-top: solid 1px #fff;
	border-left: solid 1px #fff;
	height: 32px;
	padding-bottom: 4px;
	width: 90px;
	font-size: 1.025em;
}

#main_container
{
	float: left;
}

#notes_container
{
	margin-top: 10px;/
}

#right_container
{
	float: right;
	width: 160px;
}

#tags_container
{
	width: 160px;
}

#clear_helper
{
	clear: both;
}

#login div.error
{
  color: #baff00;
  padding-left: 6px;
  padding-bottom: 6px;
}

#login div.message
{
  padding-left: 6px;
  padding-bottom: 6px;
  color: #baff00;
}

h1, h2
{
  color: #baff00;
  color: #fff;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

a
{
	color: #78bdb5;
	text-decoration: none;
}

a:hover
{
	color: #fff;
	text-decoration: underline;
}

span.tags
{
	font-size: 0.9em;
	color: #59A4ED;
	color: #78bdb5;
}

#right_container h2
{
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 10px;
}

#right_container ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#right_container li
{
	padding-top: 2px;
	padding-bottom: 4px;
	border-bottom: solid 1px #333;
	border-top: solid 1px #444;
	width: 145px;
}

#right_container a
{
	color: #fff;
}

#right_container a.action
{
	font-size: 0.85em;
	color: #78bdb5;
	margin-bottom: 8px;
}

#right_container a.selected
{
  color: #78bdb5;
	color: #baff00;
}


span.list_bullet
{
	color: #78bdb5;
}

span.list_bullet_important
{
	color: #ff9c00;
	color: #78bdb5;
}

#new_note_form
{
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 16px;
	width: 436px;
	border: solid 4px #444;
	background-color: #555;
}

#new_note_form textarea
{
	width: 430px;
	margin-bottom: 8px;
}

#new_note_form input.text
{
	width: 384px;
	margin-bottom: 8px;
}

#new_note_form div.tag_label
{
	float: left;
	width: 40px;
}

#new_note_form div.tag_area
{
	float: right;
	width: 390px;
}

/* Account controller styles
---------------------*/
#account_form
{
	margin-top: 20px;
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid 4px #444;
	background-color: #555;
}

#account_form h3
{
	margin-top: 0;
}

/*----------------------
Manage Notebooks Section
------------------------*/
#manage_notebook_list
{
	margin: 0;
	padding: 0;
}

div.manage_notebook
{
	padding: 0;
	margin: 0;
}
#manage_notebook_list ul li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: -1em;
}

div.manage_notebook ul
{
	margin: 0 0 4px 0;
	padding: 0;
	text-indent: -1em;
}

div.manage_notebook li
{
	display: inline;
	margin: 0;
	padding: 0;
}

div.manage_notebook li.action
{
	font-size: 0.9em;
}
