<div id="main_container">
<h2>Manage Notebooks</h2>
<div id="add_notebook">
<%= render :partial => "new_notebook", :object => nil %>
</div>
<div id="manage_notebook_list">
	<% for notebook in @notebooks %>
	<div class="manage_notebook" id="notebook_<%= notebook.id %>"><%= render :partial => "notebook", :object => notebook %></div>
	<% end %>
</div>
</div>
