<h2>Manage Notebooks</h2>
<div id="add_notebook">
<%= render :partial => "new_notebook", :object => nil %>
</div>
<div id="manage_notebook_list">
	<ul>
		<% for notebook in @notebooks %>
		<li><div class="manage_notebook" id="notebook_<%= notebook.id %>"><%= render :partial => "notebook", :object => notebook %></div></li>
		<% end %>
	</ul>
</div>
