<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

  <h3>Notes for this user</h3>
  <table>
  <% for note in @user.notes %>
    <tr>
      <td><%= note.note %></td>
    </tr>
  <% end %>
  </table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
