<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Text Notezer</title>
	<%= stylesheet_link_tag 'main' %>
</head>
<body>
	<div id="header">
		<div class="left">
			<a href="/RailsProject/first_test"><%= image_tag 'header.png', :class => 'header' %></a>
			<%= image_tag 'logo.png', :class => 'logo' %>
		</div>
		<div class="right">
			<% if @user == nil or !@user.id %>
			<a href="/RailsProject/user/login">login</a>
			<% end %>
			<% if @user != nil and @user.id %>
			<a href="/RailsProject/user/logout">logout</a>
			<% end %>
		</div>
	</div>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
